body {
  margin-top: 50px;
  margin-left: 500px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
}

.scoreTime {
  width: 39%;  
}

h3 {
  font-size: xx-large;
}

.time {
  text-align: center;
  margin-bottom: 20px;
}
